<footer class="ct-footer">
  <div class="container">
    <form name="contentForm" enctype="multipart/form-data" method="post" action="">
      <div class="ct-footer-pre text-center-lg">
        <div class="inner">
          <span>Join and subscribe for better experience!</span>
        </div>
        <div class="inner">
          <div class="form-group">
            <input name="formfields[nl_email]" id="nl_email" class="validate[required]" placeholder="Enter your email address" type="text" value=""> <label for="nl_email" class="sr-only">Email Address</label> <button type="submit" class="btn btn-motive">Join</button>
          </div>
        </div>
      </div>
    </form>
    <div class="ct-footer-meta text-center-sm">
      <div class="row" style="display: flex; justify-content: space-between;">
        <div class="col-sm-6 col-md-2">
          <img alt="logo" src="https://www.solodev.com/assets/footer/logo.png">
        </div>
        <div class="col-sm-6 col-md-3">
          <address>
            <span>Movie Review Site<br></span>Hyatt Pune<br>
            Maharashtra<br>
            <span>Phone: <a href="#"></a>9891389708</span>
          </address>
        </div>
        <div class="col-sm-6 col-md-3">
          <ul class="ct-socials list-unstyled list-inline d-flex" style="flex-direction: row; justify-content: space-around;">
            <li>
              <a href="" target="_blank"><img alt="facebook" src="https://www.solodev.com/assets/footer/facebook-white.png"></a>
            </li>
            <li>
              <a href="" target="_blank"><img alt="twitter" src="https://www.solodev.com/assets/footer/twitter-white.png"></a>
            </li>
            <li>
              <a href="" target="_blank"><img alt="youtube" src="https://www.solodev.com/assets/footer/youtube-white.png"></a>
            </li>
            <li>
              <a href="" target="_blank"><img alt="instagram" src="https://www.solodev.com/assets/footer/instagram-white.png"></a>
            </li>
            <li>
              <a href="" target="_blank"><img alt="pinterest" src="https://www.solodev.com/assets/footer/pinterest-white.png"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

